@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    background-image: url('background.jpg');
    font-family: 'Fredoka One', cursive;
    color: white;
}

h1{
    text-align: center;
}

.navbar{
    overflow: hidden;
    background-color: #f4afab;
    width: 100%;
}

.navbar a{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn { 
    border: none;
    outline: none;
    color: white;
    padding: 15px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 20px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ed7d78;
}
  
.dropdown-content {
    display: none;
    top: 6.5%;
    position: absolute;
    background-color: #f4afab;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ed7d78;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}  
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#f4afab;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color:#f6bab7;
}

.container{
    height: 300px;
}