@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    background-image: url('background.jpg');
    font-family: 'Fredoka One', cursive;
    color: white;
}

.dropdown  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: -10;
    left: 0;
    background-color: #f4afab;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: "0.7";
    line-height: -10;
  }
  
  .dropdown a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.5s;
    top: -10px;
  
  }
  
  .dropdown a:hover {
    color:#f5a3e7;
  }
  
  .dropdown .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#f4afab;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#ff8fda;
  }