@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("background.jpg");
  font-family: "Fredoka One", cursive;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

/************* NAVBAR STUFF ***************/
.navbar {
  overflow: hidden;
  background-color: #f4afab;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 15px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: 20px;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ed7d78;
}

.dropdown-content {
  display: none;
  top: 6.5%;
  position: absolute;
  background-color: #f4afab;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ed7d78;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f4afab;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f6bab7;
}

/***************** MAIN *********************/

.emojis{
    text-align: center;
}

.typewriter{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.typingText{
    display: flex;
    width: 28ch;
    animation: typing 2.5s steps(22,end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ed7d78;   
    letter-spacing: .15em;
    padding-bottom: 1.5%;
}

@keyframes typing {
    from {
      width: 0
    }
    to{ 
        width: 57%
    }
}
      
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #ed7d78; }
}

.eModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.emotionContent{
    background-color: #f4afab;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}


/****************** ABOUT US ********************/
#about{
    padding-top: 10%;
    font-size: 30px;
}
.blob {
  width: 300px;
  fill: #f4afab;
}

.blob-img {
  width: 200px;
}

.row {
  float: left;
  position: relative;
  left: 50%;
}

.column {
  float: left;
  position: relative;
  left: -5%;
}

figcaption {
  font-size: 30px;
  text-align: center;
}

.about-info{
    font-size: 25px;
}

/************** CONTACT US **********************/
.contactUs{
    font-size: 30px;
}

.contact {
  padding-top: 40%;
  font-size: 20px;
  padding-bottom: 10%;
}



input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 10px 10px 10px 0;
  /* display: inline-block; */
}

input[type="submit"] {
  background-color: #f4afab;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

input[type="file"] {
  background-color: #f4afab;
  color: white;
  padding: 12px 20px 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

input[type="submit"]:hover {
  background-color: #ed7d78;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.col-40 {
  width: 40%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modalContent{
    background-color: #f4afab;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #ed7d78;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #f4afab;
    text-decoration: none;
    cursor: pointer;
}


/********************** CAT VIDEO ****************/
.row {
  padding-top: 3%;
  left: 15%;
  display: grid;
  grid-gap: 25%;
  grid-template-columns: repeat(3, 1fr);
}
/***************** CAT GALLERY *****************/
#catgallery {
  padding-top: 90%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 3;
  max-height: 1080px;
}
.mySlides {
  text-align: center;
  position: relative;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 2.5%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
    top: 50%;
    right:70%;
}
.next {
    top: 50%;
    left:70%;
    border-radius: 3px 0 0 3px;
  
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  top: 80%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/**************** MEME GENERATOR ****************/
#creatememe{
    padding-top: 10%;
}
/************** CAT PUN GENERATOR **********/
#catpuns{
    padding-top: 10%;
}

.pun {
    font-size: 30px;
    padding: 20px;
  
}
/****************** SKETCH A CAT ************/
.settings {
  display: block;
  text-align: center;
}

#paint{
    top: 10%;
    border: 1px solid black ; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    background : white
}

.code {
  text-align: center;
}

.button {
  background-color: #f4afab;
  text-align: center;
  color: white;
  font-family: inherit;
  border: none;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.button:hover {
  background-color: #ed7d78;
}

.text {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}


.emojis {
    text-align: center;
    

}